<!-- ENTRY SHOW -->
<h1>ENTRY SHOW</h1>
<h1>Date: <%= @entry.day.month %> / <%=@entry.day.day%> /<%= @entry.day.year %></h1>
<h2>Amount:<%= @entry.amount %></h2>
<h2>Payment Type:<%= @entry.payment_type %></h2>
<% console %>
