<!-- SIGNUP FORM  -->
<div class="container">
    <h2 class="left-align">Let's get started!</h2>
    <hr>
    <p class="center red-text">
      <% flash.each do |name, msg| %>
      <strong><%= msg %></strong>
      <% end %>
    </p>
    <div class="col m8 offset-m2 col s12">
        <%= form_for @user  do |f| %>
        <div class="row">
            <div class="col s6">
              <%=f.label :email %>
              <%= f.text_field :email, placeholder: "e.g:yourname@example.com", class:"validate", type:"email", required: true %>
            </div>
            <div class="col s6">
              <%= f.label :username %>
              <%= f.text_field :username , class:"validate", required: true %>
            </div>
        </div>
        <div class="row">
            <div class="col s6">
              <%= f.label :password %>
              <%= f.password_field :password, placeholder: "Password", class:"validate", required: true%>
            </div>
            <div class="col s6">
              <%= f.label :password_confirmation %>
              <%= f.password_field :password_confirmation, placeholder: "Confirm Password", class:"validate", required: true%>
            </div>

        </div>
        <%= f.submit "Sign Up", class:"btn" %>
        <% end %>
    </div>
    <h2>OR</h2>
    <div class="row">
      <%= link_to "/auth/facebook", class: "" do %>
        <%= image_tag 'login-facebook.png', class:"hoverable", id:"facebook-btn" %>
      <% end %>
    </div>

</div>
