<!DOCTYPE html>
<html>
  <head>
    <title>XTracker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    <%= javascript_include_tag 'application' %>
    <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <nav class="nav-color">
    <div class="nav-wrapper">
      <a href="x.png" class="brand-logo"><%= image_tag "x.png", class:"logo" %>xTracker</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <% if current_user %>
        <li><%= link_to "Dashboard", dashboard_path %></li>
        <li><%= link_to "Reports", reports_path %></li>
        <li><%= link_to "Profile", user_path(current_user) %></li>
        <li><%= link_to "Log Out", logout_path %></li>

    <% else %>
        <li><%=link_to "Log In", login_path %></li>
        <li><%=link_to "Sign Up", new_user_path %></li>
        <% end %>
      </ul>
    </div>
  </nav>
  <% flash.each do |name, msg| %>
  <strong><%= msg %></strong>
  <% end %>
      <%= yield %>
  </body>
</html>
